[req]
distinguished_name = req_distinguished_name
x509_extensions    = v3_req
prompt             = no

[req_distinguished_name]
C  = AE
ST = Dubai
L  = Dubai
O  = joindevops
CN = aitechapp.fun

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = aitechapp.fun
DNS.2 = www.aitechapp.fun
DNS.3 = api.aitechapp.fun
DNS.4 = app.aitechapp.fun